@model WebsiteDatLichKhamBenh.Models.TinTuc

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.PageTitle = "Sửa Tin Tức";
}

<h3>Sửa Tin Tức</h3>

@using (Html.BeginForm("Edit", "AdminNews", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.idTinTuc)

    <div class="form-group">
        @Html.LabelFor(m => m.TieuDe)
        @Html.TextBoxFor(m => m.TieuDe, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MoTa)
        @Html.TextBoxFor(m => m.MoTa, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NoiDung)
        @Html.TextAreaFor(m => m.NoiDung, new { @class = "form-control", rows = 5 })
    </div>

    <div class="form-group">
        <label>Hình ảnh hiện tại:</label>
        @if (!string.IsNullOrEmpty(Model.HinhAnh))
        {
            <img src="@Url.Content(Model.HinhAnh)" alt="Hình ảnh tin tức" class="img-thumbnail" width="200" />
        }

        <br />

        <label>Chọn hình ảnh mới:</label>
        @Html.TextBoxFor(m => m.HinhAnh, new { @class = "form-control", type = "file", accept = "image/*" })
    </div>

    <button type="submit" class="btn btn-success">Cập Nhật</button>
    @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-secondary" })
}
