@model WebsiteDatLichKhamBenh.Models.CaKham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CaKham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayKham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BacSi.tenBS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BacSi.tenBS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoSo.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoSo.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhungGio.GioKham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhungGio.GioKham)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaCaKham }) |
    @Html.ActionLink("Back to List", "Index")
</p>
