@model WebsiteDatLichKhamBenh.Models.BenhNhan

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Xóa Bệnh Nhân";
}

<h2>Xóa Bệnh Nhân</h2>

<h3>Bạn có chắc chắn muốn xóa bệnh nhân này?</h3>
<div>
    <h4>@Model.tenBenhNhan</h4>

    <!-- Kiểm tra xem ngaySinh có giá trị hay không -->
    <p>Ngày sinh: @(Model.ngaySinh.HasValue ? Model.ngaySinh.Value.ToString("dd/MM/yyyy") : "Không xác định")</p>
    <p>Giới tính: @Model.GioiTinh</p>
    <p>Số điện thoại: @Model.SDT</p>
    <p>Email: @Model.Email</p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a href="@Url.Action("Index", "AdminPatientManagement")" class="btn btn-secondary">Hủy</a>
}