@model WebsiteDatLichKhamBenh.Models.BenhNhan

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Chỉnh Sửa Bệnh Nhân";
}

<h2>Chỉnh Sửa Bệnh Nhân</h2>

@using (Html.BeginForm("Edit", "AdminPatientManagement", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.idBenhNhan)

    <div class="form-group">
        @Html.LabelFor(model => model.tenBenhNhan, "Tên bệnh nhân:")
        @Html.EditorFor(model => model.tenBenhNhan, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.tenBenhNhan)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ngaySinh, "Ngày sinh:")
        <input type="date" name="ngaySinh" class="form-control" value="@ViewBag.NgaySinh" />
        @Html.ValidationMessageFor(model => model.ngaySinh)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SDT, "Số điện thoại:")
        @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SDT)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, "Email:")
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <!-- Thêm trường Giới tính -->
    <div class="form-group">
        @Html.LabelFor(model => model.GioiTinh, "Giới tính:")
        @Html.DropDownListFor(model => model.GioiTinh, new List<SelectListItem>
        {
            new SelectListItem { Text = "Nam", Value = "Nam" },
            new SelectListItem { Text = "Nữ", Value = "Nữ" }
        }, "Chọn giới tính", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.GioiTinh)
    </div>

    <button type="submit" class="btn btn-primary mt-20">Lưu</button>
    <a href="@Url.Action("Index", "AdminPatientManagement")" class="btn btn-secondary mt-20">Hủy</a>
}

<style>
    .mt-20 {
        margin-top: 20px;
    }
</style>



