@model IEnumerable<WebsiteDatLichKhamBenh.Models.BacSi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;
    string searchTerm = ViewBag.SearchTerm ?? ""; // Lưu từ khóa tìm kiếm
}

<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <style>
        /* CSS giữ nguyên từ mã gốc của bạn */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f8ff;
        }

        .nav-header {
            text-align: center;
            padding: 20px;
            background-color: #e0f7fa;
        }

            .nav-header h1 {
                color: #39B34C;
                font-size: 24px;
                margin: 0;
            }

            .nav-header p {
                color: #000;
                font-size: 14px;
                margin: 5px 0 20px;
            }

        .search-bar {
            max-width:921px;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            position: relative;
        }

            .search-bar .input-search {
                width: 300%;
                padding: 10px 20px 10px 40px;
                border-radius: 25px;
                border: 1px solid #ccc;
                font-size: 14px;
            }

            .search-bar i {
                position: absolute;
                left: 25%;
                top: 50%;
                transform: translateY(-50%);
                color: #aaa;
            }

        .container {
            padding: 20px;
        }

            .container h2 {
                font-size: 18px;
                color: #000;
                margin-bottom: 20px;
            }

        .filters {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

            .filters select {
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
                font-size: 14px;
            }

        .doctor-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .doctor-card {
            width: 23%;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 10px 0;
            text-align: center;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

            .doctor-card img {
                width: 100px;
                height: auto;
            }

            .doctor-card h3 {
                font-size: 16px;
                color: #000;
                margin: 10px 0;
            }

            .doctor-card .info {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0;
            }

                .doctor-card .info i {
                    color: #39B34C;
                    margin-right: 5px;
                }

                .doctor-card .info span {
                    font-size: 14px;
                    color: #000;
                }

            .doctor-card .specialty {
                background-color: #e0f7fa;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 14px;
                color: #000;
            }

            .doctor-card .book-button {
                background-color: #39B34C;
                color: #fff;
                padding: 10px;
                border: none;
                border-radius: 5px;
                font-size: 14px;
                cursor: pointer;
                width: 100%;
                margin-top: 10px;
            }

                .doctor-card .book-button:hover {
                    background-color: #39B34C;
                }

        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

            .pagination a, .pagination span {
                padding: 10px 15px;
                margin: 0 5px;
                text-decoration: none;
                color: #39B34C;
                border: 1px solid #39B34C;
                border-radius: 5px;
            }

            .pagination .active {
                background-color: #39B34C;
                color: #fff;
            }

            .pagination .disabled {
                color: #ccc;
                cursor: not-allowed;
            }

        .fa-search {
            margin-left: 20px;
        }

        .search_icon {
            position: absolute;
            left: 340px !important;
        }
    </style>
</head>
<body>
    <div class="nav-header">
        <h1>Đặt lịch khám qua Healthy Life</h1>
        <p>Để được tiếp đón ưu tiên và nhận sự hỗ trợ tận tình từ chúng tôi</p>
        <div class="search-bar">
            <i class="fas fa-search search_icon"></i>
            <form method="get" action="@Url.Action("Index")">
                <input class= "input-search" placeholder="Tìm tên bác sĩ, chuyên khoa" type="text" name="searchTerm" value="@searchTerm" />
            </form>
        </div>
    </div>
    <div class="container">
        <h2>Chọn bác sĩ</h2>
        <!--Lọc theo chuyên khoa-->
        <div class="filters">
            <form method="get" action="@Url.Action("Index")">
                <select name="chuyenKhoa">
                    <option value="">Chọn chuyên khoa</option>
                    @foreach (var specialty in ViewBag.Specialties)
                    {
                        <option value="@specialty" @if (ViewBag.ChuyenKhoa == specialty) { <text> selected</text> }>@specialty</option>
                    }
                </select>
                <button type="submit">Lọc</button>
            </form>
        </div>

        <div class="doctor-grid">
            @foreach (var doctor in Model)
            {
                <div class="doctor-card">
                    <div class="img_doctor_container" style="width:100px; height:100px; border-radius:50%; margin: 0 auto; overflow: hidden;">
                        <img alt="@doctor.tenBS" src="@doctor.anhBS" /> <!-- Lấy ảnh từ Firebase -->
                    </div>
                    <h3>@doctor.tenBS</h3>
                    <div class="info">
                        <i class="fas fa-briefcase-medical"></i>
                        <span>@doctor.luotDat</span>
                        <i class="fas fa-star" style="margin-left: 10px;"></i>
                        <span>@doctor.diemDanhGia</span>
                    </div>
                    <div class="specialty">
                        @doctor.chuyenKhoa
                    </div>
                    <button class="book-button" onclick="location.href='@Url.Action("Index", "CustomerBooking", new { doctorId = doctor.idBS })'">
                        Đặt Khám
                    </button>
                </div>
            }
        </div>

        <!-- Phân trang -->
        <div class="pagination">
            @if (currentPage > 1)
            {
                <a href="@Url.Action("Index", new { searchTerm = searchTerm, chuyenKhoa = ViewBag.ChuyenKhoa, page = currentPage - 1 })">Previous</a>
            }
            else
            {
                <span class="disabled">Previous</span>
            }

            @for (int i = 1; i <= totalPages; i++)
            {
                if (i == currentPage)
                {
                    <span class="active">@i</span>
                }
                else
                {
                    <a href="@Url.Action("Index", new { searchTerm = searchTerm, chuyenKhoa = ViewBag.ChuyenKhoa, page = i })">@i</a>
                }
            }

            @if (currentPage < totalPages)
            {
                <a href="@Url.Action("Index", new { searchTerm = searchTerm, chuyenKhoa = ViewBag.ChuyenKhoa, page = currentPage + 1 })">Next</a>
            }
            else
            {
                <span class="disabled">Next</span>
            }
        </div>


    </div>
</body>
</html>
