@model IEnumerable<WebsiteDatLichKhamBenh.Models.BacSi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;
    string searchTerm = ViewBag.SearchTerm ?? ""; // Lưu từ khóa tìm kiếm
}

<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <style>
        /* CSS giữ nguyên từ mã gốc của bạn */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f8ff;
        }

        .nav-header {
            text-align: center;
            padding: 30px 20px; /* Thêm padding đều cho tất cả các chiều, nhưng giảm padding dọc để gọn gàng hơn */
            background-color: #e0f7fa; /* Giữ màu nền ban đầu */
            border-radius: 10px; /* Bo góc cho phần header để tạo cảm giác mềm mại */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm bóng nhẹ cho phần header */
            margin-bottom: 20px; /* Thêm khoảng cách giữa phần header và nội dung phía dưới */
        }

            .nav-header h1 {
                color: #39B34C; /* Giữ lại màu chữ xanh lá như ban đầu */
                font-size: 28px; /* Tăng kích thước chữ cho tiêu đề để dễ nhìn hơn */
                margin: 0;
                font-weight: 600; /* Làm chữ in đậm để nổi bật */
                letter-spacing: 1px; /* Thêm khoảng cách giữa các chữ để tạo cảm giác rộng rãi hơn */
            }

            .nav-header p {
                color: #000; /* Giữ lại màu chữ đen cho phần mô tả */
                font-size: 16px; /* Tăng kích thước chữ phần mô tả để dễ đọc */
                margin: 10px 0 20px; /* Thêm khoảng cách phía dưới cho phần mô tả */
                font-style: italic; /* Làm chữ nghiêng để tạo sự khác biệt */
            }

        .search-bar {
            max-width: 900px; /* Giới hạn độ rộng của thanh tìm kiếm */
            margin: 0 auto; /* Căn giữa thanh tìm kiếm */
            position: relative;
        }

            .search-bar .input-search {
                width: 100%; /* Đặt chiều rộng của thanh tìm kiếm 100% */
                padding: 12px 30px; /* Tăng padding cho thanh tìm kiếm để trông thoải mái hơn */
                border-radius: 25px; /* Bo tròn góc thanh tìm kiếm */
                border: 1px solid #ccc; /* Viền mềm mại cho thanh tìm kiếm */
                font-size: 16px; /* Tăng kích thước chữ cho dễ nhìn */
            }

            .search-bar i {
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
                color: #aaa; /* Giữ màu của icon tìm kiếm nhẹ nhàng */
            }


        .container {
            padding: 20px;
        }

            .container h2 {
                font-size: 18px;
                color: #000;
                margin-bottom: 20px;
            }

        .filters {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

            .filters select {
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
                font-size: 14px;
            }

        .doctor-grid {
            display: grid; /* Dùng grid để bố trí các bác sĩ */
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Tự động điều chỉnh số cột tùy theo kích thước màn hình */
            gap: 20px; /* Khoảng cách giữa các card */
            padding: 20px;
        }

        .doctor-card {
            background-color: #fff;
            border-radius: 15px; /* Bo tròn góc mềm mại hơn */
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Ánh sáng nhẹ quanh card */
            padding: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: transform 0.3s ease, box-shadow 0.3s ease; /* Thêm hiệu ứng hover */
        }

            .doctor-card:hover {
                transform: translateY(-5px); /* Di chuyển nhẹ lên khi hover */
                box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15); /* Tăng độ bóng khi hover */
            }

        .img_doctor_container {
            width: 100px;
            height: 100px;
            border-radius: 50%; /* Đảm bảo ảnh bác sĩ là hình tròn */
            margin: 0 auto;
            overflow: hidden;
            border: 3px solid #39B34C; /* Thêm viền xanh lá cho ảnh */
        }

            .img_doctor_container img {
                width: 100%;
                height: 100%;
                object-fit: cover; /* Đảm bảo ảnh không bị méo */
            }

        h3 {
            font-size: 18px;
            color: #333;
            margin-top: 15px;
            font-weight: bold;
        }

        .info {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
        }

            .info i {
                color: #39B34C;
                font-size: 16px;
            }

            .info span {
                font-size: 14px;
                color: #555;
            }

        .specialty {
            background-color: #e0f7fa;
            padding: 5px 15px;
            margin-top: 10px;
            border-radius: 20px;
            font-size: 14px;
            color: #39B34C;
            font-weight: bold;
        }

        .book-button {
            background-color: #39B34C;
            color: #fff;
            padding: 12px 0;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            width: 100%;
            margin-top: 20px;
            transition: background-color 0.3s ease;
        }

            .book-button:hover {
                background-color: #2e9b2b; /* Thay đổi màu khi hover */
            }



        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

            .pagination a, .pagination span {
                padding: 10px 15px;
                margin: 0 5px;
                text-decoration: none;
                color: #39B34C;
                border: 1px solid #39B34C;
                border-radius: 5px;
            }

            .pagination .active {
                background-color: #39B34C;
                color: #fff;
            }

            .pagination .disabled {
                color: #ccc;
                cursor: not-allowed;
            }

        .fa-search {
            margin-left: 20px;
        }

        .search_icon {
            position: absolute;
            left: 340px !important;
        }

        .filters button {
            background-color: #39B34C; /* Màu nền của nút */
            color: #fff; /* Màu chữ */
            padding: 10px 20px; /* Kích thước padding */
            border: none; /* Loại bỏ viền xung quanh nút */
            border-radius: 5px; /* Bo tròn các góc nút */
            font-size: 14px; /* Kích thước font chữ */
            cursor: pointer; /* Biểu tượng con trỏ khi rê chuột lên nút */
        }

            .filters button:hover {
                background-color: #2E8930; /* Màu nền thay đổi khi rê chuột */
            }
    </style>
</head>
<body>
    <div class="nav-header">
        <h1>Đặt lịch khám qua Healthy Life</h1>
        <p>Để được tiếp đón ưu tiên và nhận sự hỗ trợ tận tình từ chúng tôi</p>
        <div class="search-bar">
            <form method="get" action="@Url.Action("Index")">
                <input class= "input-search" placeholder="Tìm tên bác sĩ, chuyên khoa" type="text" name="searchTerm" value="@searchTerm" />
            </form>
        </div>
    </div>
    <div class="container">
        <h2>Chọn bác sĩ</h2>
        <!--Lọc theo chuyên khoa-->
        <div class="filters">
            <form method="get" action="@Url.Action("Index")">
                <select name="chuyenKhoa">
                    <option value="">Chọn chuyên khoa</option>
                    @foreach (var specialty in ViewBag.Specialties)
                    {
                        <option value="@specialty" @if (ViewBag.ChuyenKhoa == specialty) { <text> selected</text> }>@specialty</option>
                    }
                </select>
                <button type="submit">Lọc</button>
            </form>
        </div>

        <div class="doctor-grid">
            @foreach (var doctor in Model)
            {
                <div class="doctor-card">
                    <div class="img_doctor_container" style="width:100px; height:100px; border-radius:50%; margin: 0 auto; overflow: hidden;">
                        <img alt="@doctor.tenBS" src="@doctor.anhBS" /> <!-- Lấy ảnh từ Firebase -->
                    </div>
                    <h3>@doctor.tenBS</h3>
                    <div class="info">
                        <i class="fas fa-briefcase-medical"></i>
                        <span>@doctor.luotDat</span>
                        <i class="fas fa-star" style="margin-left: 10px;"></i>
                        <span>@doctor.diemDanhGia</span>
                    </div>
                    <div class="specialty">
                        @doctor.chuyenKhoa
                    </div>
                    <button class="book-button" onclick="location.href='@Url.Action("Index", "CustomerBooking", new { doctorId = doctor.idBS })'">
                        Đặt Khám
                    </button>
                </div>
            }
        </div>

        <!-- Phân trang -->
        <div class="pagination">
            @if (currentPage > 1)
            {
                <a href="@Url.Action("Index", new { searchTerm = searchTerm, chuyenKhoa = ViewBag.ChuyenKhoa, page = currentPage - 1 })">Previous</a>
            }
            else
            {
                <span class="disabled">Previous</span>
            }

            @for (int i = 1; i <= totalPages; i++)
            {
                if (i == currentPage)
                {
                    <span class="active">@i</span>
                }
                else
                {
                    <a href="@Url.Action("Index", new { searchTerm = searchTerm, chuyenKhoa = ViewBag.ChuyenKhoa, page = i })">@i</a>
                }
            }

            @if (currentPage < totalPages)
            {
                <a href="@Url.Action("Index", new { searchTerm = searchTerm, chuyenKhoa = ViewBag.ChuyenKhoa, page = currentPage + 1 })">Next</a>
            }
            else
            {
                <span class="disabled">Next</span>
            }
        </div>
    </div>
</body>
</html>
